.address-contacts {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  > a {
    @extend %link;
    color: $footer-text-color;
  }

  > a.white {
    color: $white-color;
  }

  > a:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}
