.backdrop {
  z-index: 999;
  overflow-y: scroll;
  padding: 93px 15px 94px 15px;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: $backdrop-bgc;

  opacity: 1;
  transform: scale(1);
  @include transition(all);

  &.is-hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
  }
}
