.contacts {
  @extend %list;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-link {
  @extend %link;
  @extend %centered-flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $primery-text-color;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;

  transform: rotateY(0);
  @include transition(transform);

  .contacts-link:hover &,
  .contacts-link:focus & {
    transform: rotateY(180deg);
  }
}
