.examples-list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.examples-card {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  box-shadow: none;

  @include transition(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px $box-shadow-card-color4,
      0px 4px 4px $box-shadow-card-color1, 0px 1px 1px $box-shadow-card-color2;
  }

  & > a {
    @extend %link;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-thumb {
    position: relative;
    overflow: hidden;
    height: 294px;
  }

  &-thumb > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 77px 24px;

    @media screen and (min-width: 768px) {
      padding: 49px 24px;
    }

    @media screen and (min-width: 768px) {
      padding: 63px 24px;
    }

    font-size: 18px;
    line-height: 1.56;

    color: $white-color;
    background-color: $accent-secondary-color;

    transform: translateY(100%);
    @include transition(transform);
  }

  &:hover &-overlay,
  &:focus &-overlay {
    transform: translateY(0);
  }

  &-content {
    flex-grow: 1;

    padding: 20px 24px;
    border-right: 1px solid $border-card-color;
    border-bottom: 1px solid $border-card-color;
    border-left: 1px solid $border-card-color;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $title-text-color;
  }

  &-text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 1.88;

    color: $primery-text-color;
  }
}
