.footer-socials {
  &-caption {
    @extend %footer-caption;
  }

  &-list {
    @extend %list;
    display: flex;

    @media screen and (max-width: 767px) {
      justify-content: center;
      margin-bottom: 60px;
    }
  }

  &-item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-socials-icon {
  @extend %link;
  @extend %centered-flex;
  @extend %socials-icon;

  fill: $white-color;
  background-color: $footer-icon-bgc;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  > span {
    @extend %visually-hidden;
  }
}
