.form-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  width: 528px;
  height: 581px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: $primery-text-color;
  background-color: $white-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px $backdrop-bgc, 0px 1px 1px $box-shadow-card-color3,
    0px 1px 3px $box-shadow-card-color2;

  &-title {
    @extend %centered-flex;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 1.15;

    color: $title-text-color;
  }
}

.form-order-field {
  display: block;
  position: relative;
  margin-bottom: 28px;

  &.comment {
    margin-bottom: 20px;
  }
}

// Имя Телефон Почта

.input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  @include border($input-border-color);
  border-radius: 4px;

  @include transition(border-color);

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
    outline: none;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  @include transition(all);

  .input:focus + &,
  .input:not(:placeholder-shown) + & {
    transform: translate(-26px, -33px) translateY(-50%);
    color: $accent-color;
  }
}

.form-order-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: $title-text-color;
  @include transition(fill);

  .input:focus ~ &,
  .input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}

// Комментарий

.textarea {
  resize: none;
  padding: 12px 16px;

  width: 100%;
  height: 120px;

  @include border($input-border-color);
  border-radius: 4px;

  @include transition(border-color);

  &:focus,
  &:not(:placeholder-shown) {
    border-color: $accent-color;
    outline: none;
  }
}

.label-comment {
  position: absolute;
  top: 12px;
  left: 16px;

  @include transition(all);

  .form-order-field.comment:focus-within &,
  .textarea:not(:placeholder-shown) + & {
    transform: translateY(-33px);
    color: $accent-color;
  }
}

// Соглашение с рассылкой

.form-order-agreement {
  @extend %centered-flex;
  margin-bottom: 30px;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.input-check {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // position: absolute;

  @extend %visually-hidden;
}

// checkbox при помощи span

//   .icon-check-form {
//   display: inline-block;
//   margin-right: 8.5px;
//   width: 15px;
//   height: 15px;

//   border: 2px solid $title-text-color;
//   border-radius: 2px;
//   background-color: $white-color;

//   transition: background-color $duration $timing-function,
//     border-color $duration $timing-function;
// }

// .input-check:checked + .icon-check-form {
//   background-color: $accent-color;
//   background-image: url(../images/check-form.svg);
//   background-size: contain;
//   background-origin: border-box;
//   border-color: $accent-color;
// }

// checkbox при помощи псевдоэлемента before

.label-check {
  @extend %centered-flex;
}

.label-check::before {
  content: '';
  display: inline-block;
  margin-right: 8.5px;

  width: 15px;
  height: 15px;

  @include border($title-text-color, 2px);
  border-radius: 2px;
  background-color: $white-color;

  @include transition(all);

  .input-check:checked + & {
    background-color: $accent-color;
    background-image: url(../images/check-form.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }
}

.contract-link {
  color: $accent-color;
}

// Кнопка Закрыть

.icon-close-form {
  @extend %centered-flex;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: $white-color;
  border-radius: 50%;
  @include border($border-icon-close-form);

  fill: $black-color;
  @include transition(fill);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
