.page-footer {
  background-color: $footer-bgc;
  color: $white-color;

  > .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
