.page-header {
  position: relative;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    min-height: 80px;
  }

  background-color: $white-color;
  border-bottom: 1px solid $border-header-color;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.no-border {
  border-bottom: 0;
}
