.site-nav {
  @extend %list;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav-link {
  @extend %link;
  display: inline-block;

  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;

  color: $title-text-color;
  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.15;
  }

  &.current {
    position: relative;
    color: $accent-color;

    @media screen and (max-width: 767px) {
      padding-bottom: 8px;
    }
  }

  &.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
