.team-socials-list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.team-socials-icon {
  @extend %link;
  @extend %centered-flex;
  @extend %socials-icon;

  fill: $border-clients-color;
  background-color: $white-color;

  @include transition(fill);
  @include transition(background-color);

  &:hover,
  &:focus {
    fill: $white-color;
    background-color: $accent-color;
  }

  > span {
    @extend %visually-hidden;
  }
}
