.team {
  @extend %section-padding;
  background-color: $secondary-bgc;

  &-title {
    @extend %section-title;
  }

  &-list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
      margin: -15px;
    }
  }
}

.team-card {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }

  overflow: hidden;
  text-align: center;

  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px $backdrop-bgc, 0px 1px 1px $box-shadow-card-color3,
    0px 1px 3px $box-shadow-card-color2;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &-content {
    padding: 30px 32px 24px 32px;
    background-color: $white-color;
  }

  &-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &-profession {
    margin-top: 0;
    margin-bottom: 16px;
    color: $primery-text-color;
  }
}
