// Colors
$title-text-color: #212121;
$primery-text-color: #757575;
$white-color: #ffffff;
$black-color: #000000;
$accent-color: #2196f3;
$accent-secondary-color: rgba(33, 150, 243, 0.9);

$border-header-color: #ececec;
$border-clients-color: #afb1b8;
$border-card-color: #eeeeee;

$box-shadow-card-color1: rgba(0, 0, 0, 0.06);
$box-shadow-card-color2: rgba(0, 0, 0, 0.12);
$box-shadow-card-color3: rgba(0, 0, 0, 0.14);
$box-shadow-card-color4: rgba(0, 0, 0, 0.16);
$box-shadow-card-color5: rgba(0, 0, 0, 0.08);
$box-shadow-card-color6: rgba(0, 0, 0, 0.04);

$secondary-bgc: #f5f4fa;
$section-bgc: rgba(47, 48, 58, 0.8);

$footer-bgc: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-icon-bgc: rgba(255, 255, 255, 0.1);
$footer-input-border-color: rgba(255, 255, 255, 0.3);

$backdrop-bgc: rgba(0, 0, 0, 0.2);
$border-icon-close-form: rgba(0, 0, 0, 0.1);
$input-border-color: rgba(33, 33, 33, 0.2);
$button-shadow-color: rgba(0, 0, 0, 0.15);
$button-order-accent-bgc: #188ce8;

// Fonts
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
